/** @format */

.post {
    max-width: 80rem;
    margin: 0 auto;
}
.contenido {
    padding: 1.5rem;
}
.contenido h3 {
    font-weight: 900;
    font-size: 2.8rem;
    margin: 0;
}
.fecha {
    font-size: 1.6rem;
    color: var(--primary);
}
.resumen {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
.texto {
    white-space: pre-wrap;
}

.mt-3 {
    margin-top: 3rem;
}

.post a {
    margin-top: 2rem;
    display: block;
    background-color: var(--black);
    color: var(--white);
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    transition-property: background-color;
    transition-duration: 300ms;
}
.post a:hover {
    background-color: var(--primary);
}
