/** @format */

.contenido {
    display: grid;
    align-items: flex-start;
    gap: 5rem;
}
.carrito {
    padding: 3rem 0;
}
.resumen {
    background-color: #f9fafb;
    padding: 3rem;
    border-radius: 1rem;
}

@media (min-width: 768px) {
    .contenido {
        grid-template-columns: 3fr 2fr;
    }
}
