/** @format */

.footer {
    background-color: var(--black);
    padding: 5rem 0;
    margin-top: 5rem;
}

.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.navegacion a,
.copyright {
    color: var(--white);
    font-size: 2.2rem;
    text-decoration: none;
    font-weight: 700;
}
.copyright {
    text-align: center;
}

@media (min-width: 768px) {
    .contenido {
        display: flex;
        justify-content: space-between;
    }
    .navegacion {
        flex-direction: row;
    }
}
