/** @format */

:root {
    --primary: #e99401;
    --black: #262626;
    --white: #fff;
    --fuente-principal: "Outfit", sans-serif;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 2rem;
    font-family: var(--fuente-principal);
    line-height: 1.5;
}
img {
    max-width: 100%;
    height: auto;
}
[class*="contenedor"],
main {
    width: min(95%, 120rem);
    margin: 3rem auto;
}
[class*="heading"] {
    font-size: 4rem;
    text-align: center;
    font-weight: 900;
    color: var(--primary);
    margin: 5rem 0;
}

.error p,
.error a {
    font-size: 2.4rem;
    text-align: center;
    margin-top: 5rem;
}

.error a {
    font-size: 1.8rem;
    display: block;
    text-decoration: none;
    color: var(--primary);
}
