/** @format */

.header {
    background-image: linear-gradient(to right, rgb(0 0 0 /0.8), rgb(0 0 0 /0.7)), url(../public/img/header.jpg);
    padding: 5rem 0;
    background-position: center;
    background-size: cover;
}

.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .barra {
        flex-direction: row;
        justify-content: space-between;
    }
    .navegacion {
        margin: 0;
    }
}
.navegacion {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navegacion a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.5rem;
    transition-property: background-color;
    transition-duration: 300ms;
}

.navegacion a:hover,
.active {
    background-color: var(--primary);
}
